In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("googleplaystore.csv")

In [3]:
data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [4]:
data = data.dropna()

# Q1. Finding Avg Rating

In [5]:
sum = data["Rating"].sum()
num = data.shape[0]
print(f"Avg rating of these apps {sum/num}")

Avg rating of these apps 4.191837606837606

# Q2. How many apps are there with rating 5?

In [6]:
apps = data[data["Rating"] == 5]
print(f"Number of apps with rating of 5 is {apps.shape[0]}")

Number of apps with rating of 5 is 274

# Q3. How many apps are there with rating between 4 - 4.5 ?

In [7]:
apps = data[(data["Rating"] >= 4) &  (data["Rating"] <= 4.5)]
print(f"There are {apps.shape[0]} with rating between 4 and 4.5")

There are 5446 with rating between 4 and 4.5

# Q4. Avg app Reviews

In [8]:
Reviews = data["Reviews"][1:-1].astype("int64")
sum = Reviews.sum()
num = data["Reviews"].shape[0]

avg = sum/num
avg

514334.13408119656

In [10]:
D1 = pd.DataFrame([1, 2, 3])
D1

   0
0  1
1  2
2  3